form {
  margin: 20px;
}

input {
  /* margin-right: 10px; */
}

button {
  margin-left: 10px;
  padding: 10px;
}

.admin button {
  width: fit-content;
  padding: 5px;
  margin-top: 4px;
}

.admin .add-del-dish {
  flex-basis: 100%;
  /* flex-wrap: nowrap; */

}

.admin .add-del-dish .flex-col {
  align-items: center;
  border: 2px dotted;
  padding: 5px;

}

.admin .add-del-dish .flex-col p {
  margin-bottom: 5px;
}

.admin .add-del-dish .flex-col form {
  margin: 2px;
}