.bsk-not-item {
    display: block;
    text-align: center;
}

.basket {
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    border-bottom: 1px solid grey;
    flex-wrap: nowrap;
    padding-bottom: 15px;
}

.basket div {
    text-align: center;
    width: 100%;
}

.basket img {
    width: 55px;
}

.basket #input-qty-basket {
    width: 60px;
}

@media (max-width: 425px) {
    .basket {
        font-size: 10px;
    }

    .basket #input-qty-basket {
        width: 20px;
    }
}