.footer {
    padding: 10px;
    height: 105x;
    background-color: black;
    color: white;
    align-items: center;
    /* Чтобы footer не уменьшался */
    flex-shrink: 0;

}


.soc-link-tg {
    background: url("../img/telega.png");
}

.soc-link-insta {
    background: url("../img/insta.png");
}

.soc-link {
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px;
    cursor: pointer;
}

.footer_block_contact_text p {
    margin: 5px;
}




.footer_logo {
    width: 10%;
}

.footer_bottom {
    width: 100%;
    margin-top: 10px;
    color: #707070;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #707070;
}

.footer_bottom p {
    margin-top: 10px;
    margin-bottom: 0;
}